rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PUBLIC READ: Anyone can view trains, stations, and bookings
    match /{document=**} {
      allow read: if true;
    }
    
    // BOOKINGS: Passengers can create booking records
    match /bookings/{booking} {
      allow create: if true;
      allow update, delete: if false;
    }
    
    // TRAINS: Admin and Passengers
    match /trains/{train} {
      allow read: if true;
      allow write: if true; // Allow Admin to manage trains
    }
    
    // STATIONS: Admin
    match /stations/{station} {
      allow read: if true;
      allow write: if true;
    }

    // SETTINGS: Admin
    match /settings/{setting} {
      allow read: if true;
      allow write: if true;
    }

  }
}
